<div class="view-container">
    <mat-card class="medium-form-card-container mat-elevation-z9">
      <mat-card-header>
        <mat-card-title>Edit product</mat-card-title>
        <mat-card-subtitle>Fill up the form</mat-card-subtitle>
        <img
          src="../../../../assets/engine-svgrepo-com.svg"
          mat-card-avatar
          class="avatar"
        />
        <span class="filler"></span>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Product Details">
            <form
              [formGroup]="editForm"
              class="medium-form-container"
              (ngSubmit)="save()"
            >
              <mat-form-field class="f-w">
                <mat-label>Product Name</mat-label>
                <input matInput type="text" formControlName="productName" />
                <mat-error *ngIf="f['productName'].hasError('required')"
                  >Product Name is <strong>required</strong></mat-error
                >
              </mat-form-field>
              <mat-form-field class="f-w">
                <mat-label>Price</mat-label>
                <input matInput type="text" formControlName="price" />
                <mat-error *ngIf="f['price'].hasError('required')"
                  >Price is <strong>required</strong></mat-error
                >
              </mat-form-field>
              <mat-form-field class="f-w">
                <mat-label>Short description</mat-label>
                <input matInput type="text" formControlName="shortDescription" />
                <mat-error *ngIf="f['shortDescription'].hasError('required')"
                  >Short description is <strong>required</strong></mat-error
                >
              </mat-form-field>
              <mat-form-field class="f-w">
                <mat-label>Category</mat-label>
                <mat-select formControlName="productCategoryId">
                  <mat-option
                    *ngFor="let cat of productCategories"
                    [value]="cat.productCategoryId"
                    >{{ cat.productCategoryName }}</mat-option
                  >
                </mat-select>
                <mat-error *ngIf="f['productCategoryId'].hasError('required')"
                  >Category description is <strong>required</strong></mat-error
                >
              </mat-form-field>
              <div style="display: flex; justify-content: flex-end">
                <button type="submit" mat-icon-button (click)="addDetail()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
  
              <ng-container formArrayName="productDetails">
                <ng-container *ngFor="let p of details.controls; let i = index">
                  <div [formGroupName]="i" class="detail-row">
                    <mat-form-field class="f-w">
                      <mat-label>Label</mat-label>
  
                      <input
                        matInput
                        formControlName="label"
                        [matAutocomplete]="auto"
                      />
                      <mat-autocomplete
                        autoActiveFirstOption
                        #auto="matAutocomplete"
                      >
                        <mat-option
                          *ngFor="let option of commonDeatils"
                          [value]="option.detailName"
                        >
                          {{ option.detailName }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="f-w">
                      <mat-label> Value</mat-label>
                      <input matInput formControlName="value" />
                      <mat-error
                        *ngIf="
                          details.controls[i].get('value')?.hasError('required')
                        "
                        >Value is <strong>required</strong></mat-error
                      >
                    </mat-form-field>
                    <div class="f-w" style="padding-bottom: 12px">
                      <button
                        type="submit"
                        mat-icon-button
                        (click)="removeDetail(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
  
              <div class="f-w right">
                <button
                  type="reset"
                  mat-raised-button
                  color="accent"
                  [disabled]="productCreated"
                >
                  <mat-icon style="margin-right: 12px">restart_alt</mat-icon>Reset
                </button>
  
                &nbsp;
  
                <!-- <button
                  type="submit"
                  *ngIf="!productCreated"
                  mat-raised-button
                  color="primary"
                  [disabled]="editForm.invalid"
                >
                  <mat-icon style="margin-right: 12px">save_alt</mat-icon>Create
                </button> -->
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  [disabled]="editForm.invalid"
                >
                  <mat-icon style="margin-right: 12px">save_alt</mat-icon>Update
                </button>
              </div>
  
              <div class="f-w left">
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  routerLink="/bike-parts"
                >
                  <mat-icon style="margin-right: 12px"
                    ><span class="material-symbols-outlined">
                      arrow_back
                    </span></mat-icon
                  >Back to list
                </button>
              </div>
            </form>
          </mat-tab>
  
          <mat-tab label="Pictures" [disabled]="!productCreated">
            <form
              [formGroup]="imagesForm"
              class="medium-form-container"
              (ngSubmit)="saveImages()"
            >
              <mat-form-field style="width: 100%">
                <mat-label>File matInput</mat-label>
                <button mat-icon-button matPrefix (click)="f_input.click()">
                  <mat-icon>attach_file</mat-icon>
                </button>
                <input type="text" readonly matInput formControlName="images" />
                <input
                  type="file"
                  multiple
                  hidden
                  #f_input
                  (change)="handleFileInputChange($event)"
                />
                <mat-error>this field is required</mat-error>
              </mat-form-field>
              <div class="f-w">
                <mat-list>
                  <div mat-subheader>Submit Files ({{ fileArray.length }})</div>
                  <div
                    *ngFor="let file of file_list; let i = index"
                    class="image-row"
                  >
                    <mat-icon matListItemIcon>image</mat-icon>
                    <div matListItemTitle>{{ file }}</div>
                    <img src="{{ imagePath }}/{{ file }}"
                      class="circle-image"
                      style="width: 40px"
                    />
                    <button
                      type="submit"
                      mat-icon-button
                      (click)="removeImage(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </mat-list>
              </div>
              <div class="f-w" *ngIf="isUploading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
  
              <div class="f-w right" style="margin-top: 30px">
                <button type="reset" mat-raised-button color="accent">
                  <mat-icon style="margin-right: 12px">restart_alt</mat-icon>Reset
                </button>
                &nbsp;
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  [disabled]="imagesForm.invalid"
                >
                  <mat-icon style="margin-right: 12px">save_alt</mat-icon>Save
                </button>
              </div>
  
              <div class="f-w left">
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  routerLink="/car-parts"
                >
                  <mat-icon style="margin-right: 12px"
                    ><span class="material-symbols-outlined">
                      arrow_back
                    </span></mat-icon
                  >Back to list
                </button>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  